
h1{
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    .content-pokemons {

        width: 40%;
        justify-content: center;
        align-items: center;


        .list-pokemons {

            display: grid;
            grid-template-columns: repeat(3, 1fr);


            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: sandybrown;
                margin: 10px;
            }
        }

        .paginacion{
            position: relative;
            bottom: 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            
            button{
                text-align: center;


            }
        }

    }

    .details-pokemon {
        width: 40%;
        background-color: bisque;
    }

}