<h1>Lista de Pokemons!</h1>
<div class="content">
    <div class="content-pokemons">

        <div class="list-pokemons">

            @if(pokemonList$ | async; as pokemonList){
            @for (item of pokemonList.results; track item.name) {
            <div class="item">
                <p><b>{{item.name.toUpperCase()}}</b></p>
                <button (click)="getDetailsPokemon(item)">Ver Detalles</button>
            </div>
            }
            }

        </div>
        <div class="paginacion">
            <button (click)="previous()">previus</button>
            <p>{{currentPage}}</p><button (click)="next()">next</button>
        </div>

    </div>

    <div class="details-pokemon">
        @if (pokemon$ | async; as pokemon) {
            <app-pokemon [datos] = pokemon>
                
            </app-pokemon>
            
        }

    </div>
</div>